.container {
    display:flex;
    border: 10px #000 dashed;
    /*grid-template-areas:*/
    /*' Preview Real';*/
    flex-direction:row;
    padding:0;
    height:100%!important;
      /*grid-template-columns: 1fr 1fr;*/
    justify-content:space-evenly;
    overflow:hidden;
}
.area1 {
    /*flex-basis:100%;*/
    /*margin:0;*/
    /*[>max-width:100%!important;<]*/
    /*min-height:300px;*/
    /*border-radius: 10px;*/

    background: lightpink;
    min-width: 200px;
    width: 400px;
    width:100%;
    box-sizing: border-box;
    /*text-align: center;*/
    flex-grow: 1;
}
/*.react-codemirror2 {*/
    /*flex-basis:50%;*/
    /*[>width:900px;<]*/
    /*[>min-height: calc(100%- 30px)!important;<]*/
    /*[>height: 100vh !important;<]*/
    /*[>width: calc(100%-30px);<]*/
    /*[>height: calc(100vh - 130px)!important;<]*/
    /*[>area:Real;<]*/
    /*margin:0;*/

    /*max-width:50%!important;*/
    /*[>width:auto;<]*/
    /*[>min-width: calc(100%/2)!important;<]*/
    /*[>min-width: 50vw!important;<]*/
    /*[>margin : 30px;<]*/
    /*border-radius: 10px;*/
/*}*/
.CodeMirror{
    height:80vh!important;
}

@media only screen and (max-width:800px){
    .react-codemirror2{
        height:40vh!important;
    }
    .container{
        flex-direction:column;
        justify-content:space-between;
        height:100%;
    }
    .area1 {
        min-height: 200px;
        height: 100px;
        height:100%;
        box-sizing: border-box;
        flex-grow: 1;
    }
}
